:root {
  --accent-color: #2196f3; /* акцентуючий колір для hover / logo */
  --background-footer: #2f303a; /* колір фону в футері */
  --background-team-box: #f5f4fa; /* колір фону "Наша команда" */
  --background-body: #ffffff; /* колір фону сторінки */
  --white-color: #ffffff; /* світлі надписи текстом */
  --black-color: #212121; /* чорний текст */
  --gray-color: #757575; /* сірий текст */
  --footer-link-color: rgba(
    255,
    255,
    255,
    0.6
  ); /* прозорий колір лінків футера */
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--gray-color);
  background: var(--background-body);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid violet;
}

.page-header {
  padding: 25px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.logo-span-black {
  color: #000000;
  margin-right: 85px;
}

.logo-span-white {
  color: var(--white-color);
}

.unmark {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-list {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.flexbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-link {
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--black-color);
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--gray-color);
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.mail-link-header {
  margin-right: 30px;
}

.contacts-link-footer {
  line-height: 1, 714;
  color: var(--footer-link-color);
  text-decoration: none;
}

.contacts-link-footer:hover,
.contacts-link-footer:focus {
  color: var(--accent-color);
}

.address-link {
  line-height: 1.714;
  color: var(--white-color);
  text-decoration: none;
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.hero {
  display: flex;
  text-align: center;
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  background: var(--accent-color); /* тільки для відладки. видалити */
}

.button-main {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  border-radius: 4px;
}

.button-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--black-color);
  /* background: var(--accent-color); */
  /* border-radius: 4px;  */
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
}

.h2-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--black-color);
}

.h3-title-features {
  font-weight: bold;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--black-color);
}

.futures-list {
  display: flex;
}

.futures-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.about-us-list {
  display: flex;
}

.about-us-item {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
}

.h3-title-working {
  font-weight: bold;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
}

.h3-title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--black-color);
}

.h3-footer {
  font-weight: bold;
  line-height: 1.143;
  text-transform: uppercase;
  color: var(--white-color);
}

.team-box {
  background: var(--background-team-box);
}

.p-title-team {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  width: calc((100% - 30px * 5) / 6);
  margin-right: 30px;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.social-list {
  display: flex;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-bg {
  background: var(--background-footer);
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.h2-portfolio {
  font-weight: bold;
  font-size: 18px;
  line-height: 2x;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.p-portfolio-short {
  font-size: 16px;
  line-height: 1.875;
  color: var(--gray-color);
}

.p-portfolio-long {
  font-size: 16px;
  line-height: 1.556;
  color: var(--white-color);
}

.portfolio-link {
  text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--accent-color);
}

img {
  display: block;
}